#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.user.login') /}
#{set subtitle: play.i18n.Messages.get('subtitle.user.login') /}

<div class="mainForm">

    <div class="message">
        &{'user.not_yet_account'} <a href="@{Application.subscribe}">&{'user.subscribe'}</a>
    </div>
    
    #{form @authenticate()}
    #{if flash.error}
    <p class="error">&{flash.error}</p>
    #{/if}
    #{if flash.success}
    <p class="success">&{flash.success}</p>
    #{/if}

    <label for="username">&{'user.email'}</label>
    <div class="formField">
        <input type="text" name="username" id="username" value="${flash.username}" />
    </div>

    <label for="password">&{'user.password'}</label>
    <div class="formField">
        <input type="password" name="password" id="password" value="" />
    </div>

    <label for="remember">&{'user.remember'}</label>
    <div class="formField">
        <input style="margin: 6px 0;" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />               
    </div>

    <div class="fieldButtonValidation">
        <button type="submit" name="btnLogin" class="withPix pix16_login">&{'btn.connexion'}</button>        
        <div class="clear"></div>
    </div>
    #{/form}
</div>

