#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.friend') /}
#{set subtitle: play.i18n.Messages.get('subtitle.friend') /}
#{set 'moreStyles'}
#{stylesheet 'friend.css' /}
#{/set}

<div class="rightTopButtonBox">
    <button class="searchButton withPix pix16_way_search">&{'btn.search.friend'}</button>
    <div style="clear: both;"></div>
</div>

<h2>&#9733; Mes amis</h2>

#{if friendShips.size == 0}
<div class="empty_add_first">
    &{'friend.empty'}.<br/>
    <a href="@{friend.search}">&{'friend.add_first'}!</a>
</div>
#{/if}
#{else}
#{list items:friendShips, as:'friendShip'}
<div class="friend">
    <div class="description">
        <h4>${friendShip.friend.firstname} ${friendShip.friend.lastname}</h4>
        <a href="@{user.details(friendShip.friend.id)}" title="&{'friend.detail_me'}">
            <img src="@{'public/images/icons/24/detail.png'}" alt="&{'friend.detail_me'}" />
        </a>
        <a href="@{friend.delete(friendShip.id)}" title="&{'friend.delete_me'}" class="delete_confirmation">
            <img src="@{'public/images/icons/24/delete.png'}" alt="&{'friend.delete_me'}" />
        </a>
    </div>
    <div class="clear"></div>
</div>
#{/list}
#{/else}
<div class="clear"></div>

<h2>&#9733; Utilisateurs en attente</h2>
#{if friendShips_awaiting.size == 0}
<div class="empty_add_first">
    &{'friend.empty'}.
</div>
#{/if}
#{else}
#{list items:friendShips_awaiting, as:'friendShip'}
<div class="friend">
    <div class="description">
        <h4>${friendShip.friend.firstname} ${friendShip.friend.lastname}</h4>
        <a href="@{user.details(friendShip.friend.id)}" title="&{'friend.detail_me'}">
            <img src="@{'public/images/icons/24/detail.png'}" alt="&{'friend.detail_me'}" />
        </a>
        <a href="@{friend.delete(friendShip.id)}" title="&{'friend.delete_me'}" class="delete_confirmation">
            <img src="@{'public/images/icons/24/delete.png'}" alt="&{'friend.delete_me'}" />
        </a>
    </div>
    <div class="clear"></div>
</div>
#{/list}
#{/else}
<div class="clear"></div>