#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.friend') /}
#{set subtitle: play.i18n.Messages.get('subtitle.friend') /}

<div class="rightTopButtonBox">
    <button class="searchButton withPix pix16_way_search">&{'btn.search.friend'}</button>
    <div style="clear: both;"></div>
</div>

<table class="covami_table">
    <thead>
        <tr>
            <th class="table_col_action">&{'friend.list.col.actions'}</th>
            <th>&{'friend.list.col.label'}</th>
        </tr>
    </thead>
    <tbody>
        #{if users != null}
        #{list items:users, as:'user'}
        <tr>
            <td class="table_col_action">
                <a href="@{friend.add(user.id)}" title="&{'friend.list.add_me'}">
                    <img src="@{'public/images/icons/24/friend_add.png'}" alt="&{'friend.list.add_me'}" />
                </a>
                <a href="@{user.detail(user.id)}" title="&{'friend.list.detail_me'}">
                    <img src="@{'public/images/icons/24/detail.png'}" alt="&{'friend.list.detail_me'}" />
                </a>
            </td>
            <td>
                ${user.firstname.capFirst()} ${user.lastname.capAll()}
            </td>
        </tr>
        #{/list}
        #{/if}
    </tbody>
</table>
