#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.dashboard') /}
#{set subtitle: play.i18n.Messages.get('subtitle.dashboard') /}
#{set 'moreStyles'}#{stylesheet 'dashboard.css' /}#{/set}
<div class="box_dashboard" id="box_way">
    <h4><span class="toggler">&star;</span> &{'user.dashboard.way_activity'}</h4>
    <div class="content">
        #{if participations_accept.size() == 0 && participations_refuse.size() == 0 && participations_waiting.size() == 0 && ways_cancel.size() == 0}
        <p class="empty_box">
            &{'user.dashboard.no_recent_activity_way'}.
        </p>
        #{/if}        
        
        <ul>
            #{list participations_accept, as:'participation_accept'}
            <li>
                <a href="@{User.details(participation_accept.way.driver.id)}">${participation_accept.way.driver.firstname} ${participation_accept.way.driver.lastname}</a> 
                &{'user.dashboard.accept_participation'} <a href="">${participation_accept.way.startCity.name} - ${participation_accept.way.finishCity.name}</a> 
                <a href="@{WayParticipation.validNotification(participation_accept.id)}" title="&{'mark_as_read'}">
                    <img src="@{'public/images/delete.png'}" alt="&{'mark_as_read'}" class="icon_delete" />
                </a>
            </li>
           #{/list}
           
            #{list participations_refuse, as:'participation_refuse'}
            <li>
                <a href="@{User.details(participation_refuse.way.driver.id)}">${participation_refuse.way.driver.firstname} ${participation_refuse.way.driver.lastname}</a> 
                &{'user.dashboard.refuse_participation'} <a href="">${participation_refuse.way.startCity.name} - ${participation_refuse.way.finishCity.name}</a> 
                <a href="@{WayParticipation.validNotification(participation_refuse.id)}" title="&{'mark_as_read'}">
                    <img src="@{'public/images/delete.png'}" alt="&{'mark_as_read'}" class="icon_delete" />
                </a>
            </li>
           #{/list}
           
            #{list participations_waiting, as:'participation_waiting'}
            <li>
                <a href="@{User.details(participation_waiting.participant.id)}">${participation_waiting.participant.firstname} ${participation_waiting.participant.lastname}</a> &{'user.dashboard.want_to_participate'} <a href="">${participation_waiting.way.startCity.name} - ${participation_waiting.way.finishCity.name}</a>
                <a href="@{WayParticipation.accept(participation_waiting.id)}" title="&{'yes'}">
                    <img src="@{'public/images/confirm.png'}" alt="&{'yes'}" class="icon_confirm" />
                </a>
                <a href="@{WayParticipation.refuse(participation_waiting.id)}" title="&{'no'}">
                    <img src="@{'public/images/refuse.png'}" alt="&{'no'}" class="icon_refuse" />
                </a>
            </li>
            #{/list}
            
            #{list ways_cancel, as:'way_cancel'}
            <li>
                <a href="@{User.details(way_cancel.way.driver.id)}">${way_cancel.way.driver.firstname} ${way_cancel.way.driver.lastname}</a> 
                &{'user.dashboard.cancel_way'} <a href="">${way_cancel.way.startCity.name} - ${way_cancel.way.finishCity.name}</a> 
                <a href="@{WayParticipation.validNotification(way_cancel.id)}" title="&{'mark_as_read'}">
                    <img src="@{'public/images/delete.png'}" alt="&{'mark_as_read'}" class="icon_delete" />
                </a>
            </li>
            #{/list}
        </ul>        
    </div>
</div>

<div class="box_dashboard" id="box_friends">
    <h4><span class="toggler">&star;</span> &{'user.dashboard.friend_activity'}</h4>
    <div class="content">
        #{if friends_accept.size() == 0 && friends_refuse.size() == 0 && friends_waiting.size() == 0}
        <p class="empty_box">
            &{'user.dashboard.no_recent_activity_friend'}.<br/>
            <span style="text-shadow: none;">&{'user.dashboard.want_new_friend'} <a href="@{Friend.search()}">&{'user.dashboard.find_friend_easy'}</a></span>
        </p>
        #{/if}
        #{else}
        <ul>
            #{list friends_accept, as:'friend_accept'}
            <li>
                <a href="@{User.details(friend_accept.friend.id)}">${friend_accept.friend.firstname.capFirst()} ${friend_accept.friend.lastname.capFirst()}</a> 
                &{'user.dashboard.accept_friend'}. 
                <a href="@{Friend.validNotification(friend_accept.id)}" title="&{'mark_as_read'}">
                    <img src="@{'public/images/delete.png'}" alt="&{'mark_as_read'}" class="icon_delete" />
                </a>
            </li>
            #{/list}
            #{list items:friends_refuse, as:'friend_refuse'}
            <li>
                <a href="@{User.details(friend_refuse.friend.id)}">${friend_refuse.friend.firstname.capFirst()} ${friend_refuse.friend.lastname.capFirst()}</a> 
                &{'user.dashboard.refuse_friend'}. 
                <a href="@{Friend.validNotification(friend_refuse.id)}" title="&{'mark_as_read'}">
                    <img src="@{'public/images/delete.png'}" alt="&{'mark_as_read'}" class="icon_delete" />
                </a>
            </li>
            #{/list}
            #{list items:friends_waiting, as:'friend_waiting'}
            <li>
                <a href="@{User.details(friend_waiting.user.id)}">${friend_waiting.user.firstname.capFirst()} ${friend_waiting.user.lastname.capFirst()}</a> 
                &{'user.dashboard.want_to_be_friend'} ? 
                <a href="@{Friend.accept(friend_waiting.id)}" title="&{'yes'}">
                    <img src="@{'public/images/confirm.png'}" alt="&{'yes'}" class="icon_confirm" />
                </a>
                <a href="@{Friend.refuse(friend_waiting.id)}" title="&{'no'}">
                    <img src="@{'public/images/refuse.png'}" alt="&{'no'}" class="icon_refuse" />
                </a>
            </li>
            #{/list}
        </ul>
        #{/else}
    </div>
</div>

<div class="box_dashboard" id="box_cars" style="clear:both;">
    <h4><span class="toggler">&star;</span> &{'user.dashboard.car_activity'}</h4>
    <div class="content">
        #{if ways_driver.size() == 0}
        <p class="empty_box">&{'user.dashboard.no_recent_activity_car'}.</p>
        #{/if}

        <ul>
            #{list ways_driver, as:'way_driver'}
            <li><a href="@{Way.details(way_driver.id)}">&{'user.dashboard.way'} ${way_driver.startCity.name} - ${way_driver.finishCity.name}</a> &{'user.dashboard.with_car'} <a href="@{Car.details(way_driver.car.id)}">${way_driver.car.name}</a> &{'user.dashboard.the'} ${way_driver.dateHourStart.getTime().asdate('dd/MM/yyyy')}</li>
            #{/list}
        </ul>
    </div>
</div>

<div class="box_dashboard" id="box_profile">
    <h4><span class="toggler">&star;</span> &{'user.dashboard.stats'} ! </h4>
    <div class="content">
        <p class="title">${user.firstname.capFirst()} ${user.lastname.capFirst()}</p>
        <p class="stats">
            <img src="@{'public/images/icons/friends.png'}" alt="" /> ${number_friend} &{'friend'}s • 
            <img src="@{'public/images/icons/cars.png'}" alt="" /> ${number_car} &{'car'}s • 
            <img src="@{'public/images/icons/ways.png'}" alt="" /> ${number_way_total} &{'way'}s</p>
        <p class="stats">
            ${number_way_driver} &{'user.dashboard.proposed_way'} • ${number_way_passenger} &{'user.dashboard.participation_way'}
        </p>
        <p class="stats">
            <img src="@{'public/images/icons/euro.png'}" alt="&{'user.dashboard.avg_cost'}" /> <i>&{'user.dashboard.avg_cost'}</i> : 4 €<br/>
            <img src="@{'public/images/icons/smile.png'}" alt="&{'user.dashboard.my_covanote'}" /> <i>&{'user.dashboard.my_covanote'} : </i> 4,6 / 5
        </p>
    </div>
</div>
<div style="clear:both;"></div>