#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.user.details') /}
#{set subtitle: play.i18n.Messages.get('subtitle.user.details') /}

<a href="@{Friend.list}">&DDotrahd; &{'friend.back_to_list'}</a>

<h2>&#9733; &{'friend.his_profil'}</h2>
<div class="mainForm">
    <label>&{'user.email'}</label>
    <div class="formField labelLine">${user.email}</div>

    <label>&{'user.firstname'}</label>
    <div class="formField labelLine">${user.firstname.capFirst()}</div>
    
    <label>&{'user.lastname'}</label>
    <div class="formField labelLine">${user.lastname.capAll()}</div>
    
    <!--<label>&{'user.covanote'}</label>
    <div class="formField labelLine">@TODO Add his covanote</div>-->
    
    <div class="clear"></div>
</div>

<h2>&#9733; &{'user.his_driver_way'}</h2>
<div class="mainForm">
    #{if waysDriver.size == 0}
    &{'friend.empty_list_way_for_user'}.
    #{/if}
    #{else}
    #{list items:waysDriver, as:'way'}
    <label>${way.dateHourStart.getTime().asdate('dd/MM/yyyy hh:mm')}</label>
    <div class="formField labelLine">${way.startCity?.name} => ${way.finishCity?.name} (${(int) (way.distance)} kms)</div>      
    #{/list}
    #{/else}
    <div class="clear"></div>
</div>

<h2>&#9733; &{'user.his_passenger_way'}</h2>
<div class="mainForm">
    #{if wayPassengers.size == 0}
    &{'friend.empty_list_way_for_user'}.
    #{/if}
    #{else}
    #{list items:wayPassengers, as:'participation'}
    <label>${participation.way.dateHourStart.getTime().asdate('dd/MM/yyyy hh:mm')}</label>
    <div class="formField labelLine">${participation.way.startCity?.name} => ${participation.way.finishCity?.name} (${Integer.parseInt(participation.way?.distance)} kms)</div>      
    #{/list}
    #{/else}
    <div class="clear"></div>
</div>
