#{extends 'main.html' /}
#{set title:'Bienvenue sur Covami !' /}
#{set more_infos:'Pour commencer à utiliser le service, merci de vous authentifier.' /}
<form action="login" method="post" class="mainForm">
    <div class="message">
        Vous n'avez pas encore de compte ? <a href="@{User.subscribe}">Inscrivez vous !</a>
    </div>
    
    <label for="fieldEmail">Adresse email</label>
    <div class="formField">
        <input type="text" name="fieldEmail" id="fieldEmail"/>
    </div>
    
    <label for="fieldPassword">Mot de passe</label>
    <div class="formField">
        <input type="password" name="fieldPassword" id="fieldPassword" />
    </div>
    
    <div class="fieldButtonValidation">
        <button type="submit" name="btnLogin" class="withPix pix16_login">Connexion</button>
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</form>
<p></p>