#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('user.profile.title') /}
#{set subtitle: play.i18n.Messages.get('user.profile.subtitle') /}

<div class="mainForm">
#{form @User.editProfile()}

    #{ifErrors}
    <p class="error">
        Il y a une erreur de saisie
    </p>
    #{/ifErrors}
    <div class="message">
        &{'user.profile.message'} :
    </div>

    <label for="fieldEmail">&{'field.email'}</label>
    <div class="formField">
        #{if flash['user.email'] == null}
        <input type="text" name="user.email" id="fieldEmail" value="${user.email}"/>        
        #{/if}
        #{else}
        <input type="text" name="user.email" id="fieldEmail" value="${flash['user.email']}"/>
        #{/else}
        <span class="error">#{error 'user.email' /}</span>
    </div>
    
    <label for="fieldPassword">&{'field.password'}</label>
    <div class="formField">
        #{if flash['user.password'] == null}
        <input type="text" name="user.password" id="fieldPassword" value="${user.password}"/>        
        #{/if}
        #{else}
        <input type="text" name="user.password" id="fieldPassword" value="${flash['user.password']}"/>
        #{/else}
        <span class="error">#{error 'user.password' /}</span>
    </div>

    <label for="fieldFirstname">&{'field.firstname'}</label>
    <div class="formField">
        #{if flash['user.email'] == null}
        <input type="text" name="user.firstname" id="fieldFirstname" value="${user.firstname}"/>        
        #{/if}
        #{else}
        <input type="text" name="user.firstname" id="fieldFirstname" value="${flash['user.firstname']}"/>
        #{/else}
        <span class="error">#{error 'user.firstname' /}</span>
    </div>
    
        <label for="fieldLastname">&{'field.lastname'}</label>
    <div class="formField">
        #{if flash['user.email'] == null}
        <input type="text" name="user.lastname" id="fieldLastname" value="${user.lastname}"/>        
        #{/if}
        #{else}
        <input type="text" name="user.lastname" id="fieldLastname" value="${flash['user.lastname']}"/>
        #{/else}
        <span class="error">#{error 'user.lastname' /}</span>
    </div>

    <div class="fieldButtonValidation">
        <button type="button" name="btnCancel" class="withPix pix16_cancel">&{'buttons.annuler'}</button>
        <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'buttons.valider'}</button>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
    #{/form}
</div>
<p></p>
