#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.way.add') /}
#{set subtitle: play.i18n.Messages.get('subtitle.way.add') /}

<div class="mainForm">
    #{form @way.addWay(), name:"way_form"}

    #{ifErrors}
    <p class="main_error">
        &{'errors'} : &{'error.cant_continue'}
    </p>  
    #{/ifErrors}

    <label for="fieldWaystartCity">&{'way.start_city'}</label>
    <div class="formField">
        <select name="startCityId" id="fieldWaystartCity" class="citySelector" style="width: 270px;">
            <option value="-1">&{'way.selectStartCity'}</option>
            #{list items:cities, as:'city'}
            <option value=${city.id} #{if flash["startCityId"]=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
    </div>

    <label for="fieldWayfinishCity">&{'way.finish_city'}</label>
    <div class="formField">
        <select name="finishCityId" id="fieldWayfinishCity" class="citySelector" style="width: 270px;">
            <option value="-1">&{'way.selectStartCity'}</option>
            #{list items:cities, as:'city'}
            <option value=${city.id} #{if flash["finishCityId"]=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
    </div>

    <label for="fieldWaycar">&{'way.car'}</label>
    <div class="formField">
        <select name="carId" id="fieldWaycar" style="width: 270px;">
            <option value="-1">&{'way.selectCar'}</option>
            #{list items:cars, as:'car'}
            <option value=${car.id} #{if flash["carId"]=="${car.id}"} selected #{/if}>${car.name.capFirst()}</option>
            #{/list}
        </select>
        <span class="error">#{error 'carId' /}</span>
    </div>

    <div class="second_part_form" style="#{if flash['cost']}display:block;#{/if}">
        <label for="fieldWaydCost">&{'way.priceByPassenger'}</label>
        <div class="formField" style="padding: 13px 7px;">
            <div id="slider"></div>
            <div id="slider_show_value">${flash['cost']} &euro;</div>
            <input type="hidden" name="cost" id="fieldWaydCost" value="${flash['cost']}"/>
            <input type="hidden" name="minCost" id="fieldWayMinCost" value="${flash['minCost']}"/>
            <input type="hidden" name="maxCost" id="fieldWayMaxCost" value="${flash['maxCost']}"/>
            <p class="error">#{error 'cost' /}</p>
        </div>

        <label for="fieldWayplaceAvailable">&{'way.availablePlaces'}</label>
        <div class="formField">
            <select name="placeAvailable" id="fieldCarcapacity">
                #{list items:1..8, as:'i'}
                <option value=${i} #{if flash["placeAvailable"]=="${i}"}selected#{/if}>${i}</option>
                #{/list}
            </select>
        </div>

        <label for="fieldWaydateStart">&{'way.dateStart'}</label>
        <div class="formField">
            <input class="datePickerField" type="text" name="dateStart" id="fieldWaydateStart"  value="${flash['dateStart']}"/>
            <p class="error">#{error 'dateStart' /}</p>
        </div>

        <label for="fieldWayHourStart">&{'way.hourStart'}</label>
        <div class="formField">
            <input class="timePickerField" type="text" name="hourStart" id="fieldWayhourStart"  value="${flash['hourStart']}"/>
            <p class="error">#{error 'hourStart' /}</p>
        </div>

        <div class="fieldButtonValidation">
            <span style="color: red">${flash['fail']}</span>
            <button type="button" name="btnCancel" class="cancelButton withPix pix16_cancel">&{'btn.annuler'}</button>
            <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'btn.valider'}</button>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
    #{/form}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var cout = "${flash['cost']}";
        var min = "${flash['minCost']}";
        var max = "${flash['maxCost']}";
        
        $("#slider").slider({
            value: cout,
            min: parseFloat(min),
            max: parseFloat(max),   
            step: 0.5,
            slide: function( event, ui ) {
                $('#slider_show_value').text(ui.value + " €");
                $('#fieldWaydCost').val(ui.value);
            }
        });
    });
</script>