#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.way.add') /}
#{set subtitle: play.i18n.Messages.get('subtitle.way.add') /}

<div class="mainForm">
#{form @way.editWay(way.id)}

    #{ifErrors}
    <p class="main_error">
       &{'errors'} : &{'error.cant_continue'}
    </p>  
    #{/ifErrors}

    <label for="fieldWaystartCity">&{'field.waystartCity'}</label>
    <div class="formField">
        #{if flash['startCityId'] == null}
        <select name="startCityId" id="fieldWaystartCity">
            #{list items:cities, as:'city'}
                <option value=${city.id} #{if "${way.startCity.id}"=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
        #{/if}
        #{else}
        <select name="startCityId" id="fieldWaystartCity">
            #{list items:cities, as:'city'}
                <option value=${city.id} #{if flash["startCityId"]=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
        #{/else}
    </div>
    
    <label for="fieldWayfinishCity">&{'field.wayfinishCity'}</label>
    <div class="formField">
        #{if flash['startCityId'] == null}
        <select name="finishCityId" id="fieldWayfinishCity">
            #{list items:cities, as:'city'}
                <option value=${city.id} #{if "${way.finishCity.id}"=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
        #{/if}
        #{else}
        <select name="finishCityId" id="fieldWayfinishCity">
            #{list items:cities, as:'city'}
                <option value=${city.id} #{if flash["finishCityId"]=="${city.id}"} selected #{/if}>${city.name.capFirst()}</option>
            #{/list}
        </select>
        #{/else}
    </div>

    #{if flash['dateStart'] == null}
    <label for="fieldWaydCost">&{'field.waycost'}</label>
    <div class="formField">
        <input class="datePickerField" type="text" name="cost" id="fieldWaydCost"  value="${way.cost}"/>
        <p class="error">#{error 'cost' /}</p>
    </div>
    #{/if}
    #{else}
    <label for="fieldWaydCost">&{'field.waycost'}</label>
    <div class="formField">
        <input class="datePickerField" type="text" name="cost" id="fieldWaydCost"  value="${flash['cost']}"/>
        <p class="error">#{error 'cost' /}</p>
    </div>
    #{/else}
    
    <label for="fieldWaycar">&{'field.waycar'}</label>
    <div class="formField">
        #{if flash['carId'] == null}
        <select name="carId" id="fieldWaycar">
            #{list items:cars, as:'car'}
                <option value=${car.id} #{if "${way.car.id}"=="${car.id}"} selected #{/if}>${car.name.capFirst()}</option>
            #{/list}
        </select>
        #{/if}
        #{else}
        <select name="carId" id="fieldWaycar">
            #{list items:cars, as:'car'}
                <option value=${car.id} #{if flash["carId"]=="${car.id}"} selected #{/if}>${car.name.capFirst()}</option>
            #{/list}
        </select>
        #{/else}
        <span class="error">#{error 'carId' /}</span>
    </div>
    
    <label for="fieldWayplaceAvailable">&{'field.wayplaceAvailable'}</label>
    <div class="formField">
        #{if flash['placeAvailable'] == null}
        <select name="placeAvailable" id="fieldCarcapacity">
        #{list items:1..8, as:'i'}
            <option value=${i} #{if "${way.placeAvailable}"=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        #{/if}
        #{else}
        <select name="placeAvailable" id="fieldCarcapacity">
        #{list items:1..8, as:'i'}
            <option value=${i} #{if flash["placeAvailable"]=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        #{/else}
    </div>
    
    #{if flash['dateStart'] == null}
    <label for="fieldWaydateStart">&{'field.waydateStart'}</label>
    <div class="formField">
        <input class="datePickerField" type="text" name="dateStart" id="fieldWaydateStart"  value="${way.dateHourStart.getTime().asdate('dd/MM/yyyy')}"/>
        <p class="error">#{error 'dateStart' /}</p>
    </div>
    #{/if}
    #{else}
    <label for="fieldWaydateStart">&{'field.waydateStart'}</label>
    <div class="formField">
        <input class="datePickerField" type="text" name="dateStart" id="fieldWaydateStart"  value="${flash['dateStart']}"/>
        <p class="error">#{error 'dateStart' /}</p>
    </div>
    #{/else}
    
    #{if flash['hourStart'] == null}
    <label for="fieldWayHourStart">&{'field.wayHourStart'}</label>
    <div class="formField">
        <input class="timePickerField" type="text" name="hourStart" id="fieldWayhourStart"  value="${way.dateHourStart.getTime().asdate('hh:mm')}"/>
        <p class="error">#{error 'hourStart' /}</p>
    </div>
    #{/if}
    #{else}
    <label for="fieldWayHourStart">&{'field.wayHourStart'}</label>
    <div class="formField">
        <input class="timePickerField" type="text" name="hourStart" id="fieldWayhourStart"  value="${flash['hourStart']}"/>
        <p class="error">#{error 'hourStart' /}</p>
    </div>
    #{/else}

    <div class="fieldButtonValidation">
        <span style="color: red">${flash['fail']}</span>
        <button type="button" name="btnCancel" class="cancelButton withPix pix16_cancel">&{'btn.annuler'}</button>
        <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'btn.valider'}</button>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
#{/form}
</div>
<p></p>