#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.way') /}
#{set subtitle: play.i18n.Messages.get('subtitle.way') /}
#{set 'moreStyles'}
#{stylesheet 'way.css' /}
#{/set}

<div class="rightTopButtonBox">
    <button class="addButton withPix pix16_way_add">&{'btn.add.way'}</button>
    <button class="searchButton withPix pix16_way_search">&{'btn.search.way'}</button>
    <div style="clear: both;"></div>
</div>

<h2>&#9733; &{'way.search.param_search'}</h2>

#{form @way.search(), name:"way_form"}
<select name="startCityId" class="search_way_field">
    #{list items:cities, as:'city'}
    <option value=${city.id}>${city.name.capFirst()}</option>
    #{/list}
</select>
<select name="finishCityId" class="search_way_field">
    #{list items:cities, as:'city'}
    <option value=${city.id}>${city.name.capFirst()}</option>
    #{/list}
</select>
<input type="text" name="fromDate" value="A partir du" class="placeholder search_way_field" rel="A partir du" style="width: 110px;" />
<button type="submit" name="btnRecherche" class="search_way_field">Rechercher</button>
#{/form}

<h2>&#9733; &{'way.search.result_search'}</h2>
#{if ways.size == 0}
<div class="empty_add_first">
    &{'way.empty'}.<br/>
    <a href="@{way.add}">&{'way.add_yours'}!</a>
</div>
#{/if}
#{else}
#{list items:ways, as:'way'}
<div class="way">
    <div class="description">
        <h4>${way.startCity.name} => ${way.finishCity.name}</h4>
        <p>${way.dateHourStart.getTime().asdate('dd/MM/yyyy HH:mm')}</p>
        <p>${way.cost} € / personne</p>
        <p>${way.placeRemain()} &{'way.place_restante'} / ${way.placeAvailable}</p>
        <small>proposé par ${way.driver.firstname} ${way.driver.lastname}</small><br/>
        <a href="@{way.details(way.id)}" title="&{'way.detail_me'}">
            <img src="@{'public/images/icons/24/detail.png'}" alt="&{'way.detail_me'}" />
        </a>
    </div>
    <div class="clear"></div>
</div>
#{/list}
#{/else}
<div class="clear"></div>