#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('car.add') /}
#{set subtitle: play.i18n.Messages.get('car.add.subtitle') /}

<div class="mainForm">
#{form @car.addCar()}

    #{ifErrors}
    <p class="error">
        Il y a une erreur de saisie
    </p>    
    #{/ifErrors}

    <label for="fieldCarname">&{'field.carname'}</label>
    <div class="formField">
        <input type="text" name="name" id="fieldCarname" value="${flash['name']}"/>
        <span class="error">#{error 'name' /}</span>
    </div>

    <label for="fieldCarcapacity">&{'field.carcapacity'}</label>
    <div class="formField">
        <select name="nbPlace" id="fieldCarcapacity"/>
        #{list items:1..8, as:'i'}
            <option value=${i} #{if flash["nbPlace"]=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        <p class="message">&{'car.woutDriver'}. &{'defautValue'}, &{'car.editForEachWay'}.</p>
    </div>

    <label for="fieldCarconsomation">&{'field.carconsomation'}</label>
    <div class="formField">
        <input type="text" name="cost" id="fieldCarconsomation"  value="${flash['cost']}"/>
        <p class="message">&{'car.litterForKms'}.</p>
        <span class="error">#{error 'cost' /}</span>
    </div>

    <div class="fieldButtonValidation">
        <button type="button" name="btnCancel" class="cancelButton withPix pix16_cancel">&{'btn.annuler'}</button>
        <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'btn.valider'}</button>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
#{/form}
</div>
<p></p>