#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.car.add') /}
#{set subtitle: play.i18n.Messages.get('subtitle.car.add') /}

<div class="mainForm">
#{form @car.addCar()}

    #{ifErrors}
    <p class="main_error">
       &{'errors'} : &{'error.cant_continue'}
    </p>
    #{/ifErrors}

    <label for="fieldCarname">&{'car.name'}</label>
    <div class="formField">
        <input type="text" name="name" id="fieldCarname" value="${flash['name']}"/>
        <p class="error">#{error 'name' /}</p>
    </div>

    <label for="fieldCarcapacity">&{'car.available_place'}</label>
    <div class="formField">
        <select name="nbPlace" id="fieldCarcapacity"/>
        #{list items:1..8, as:'i'}
            <option value=${i} #{if flash["nbPlace"]=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        <p class="message">&{'car.without_driver'}. &{'general.default_value'}, &{'car.edit_for_each_way'}.</p>
    </div>

    <label for="fieldCarconsomation">&{'car.estimated_consommation'}</label>
    <div class="formField">
        <input type="text" name="cost" id="fieldCarconsomation"  value="${flash['cost']}"/>
        <p class="message">&{'car.litreAuCent'}.</p>
        <p class="error">#{error 'cost' /}</p>
    </div>

    <div class="fieldButtonValidation">
        <button type="button" name="btnCancel" class="cancelButton withPix pix16_cancel">&{'btn.annuler'}</button>
        <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'btn.valider'}</button>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
#{/form}
</div>
<p></p>