#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('title.car.details') /}
#{set subtitle: play.i18n.Messages.get('subtitle.car.details') /}

<a href="@{Car.list}"><span class="">&DDotrahd; &{'car.back_to_list'}</a>

<h2>&#9733; ${car.name.capFirst()}</h2>
<div class="mainForm">
    <label>&{'car.name'}</label>
    <div class="formField labelLine">${car.name.capFirst()}</div>

    <label>&{'car.estimated_consommation'}</label>
    <div class="formField labelLine">${car.cost} &{'car.litreAuCent'}</div>

    <div class="clear"></div>
</div>

<h2>&#9733; &{'car.his_ways'}</h2>
<div class="mainForm">
    #{if ways.size == 0}
    &{'car.empty_list_way_for_car'}.
    #{/if}
    #{else}
    #{list items:ways, as:'way'}
    <label>${way.dateHourStart.getTime().asdate('dd/MM/yyyy hh:mm')}</label>
    <div class="formField labelLine">${way.startCity?.name} => ${way.finishCity?.name} (${(int)way?.distance} kms)</div>      
    #{/list}
    #{/else}
    <div class="clear"></div>
</div>