#{extends 'main.html' /}
#{set title: play.i18n.Messages.get('car.edit.title') /}
#{set subtitle: play.i18n.Messages.get('car.edit.subtitle') /}

<div class="mainForm">
#{form @car.editCar(car.id)}

    #{ifErrors}
    <p class="error">
        Il y a une erreur de saisie
    </p>
    #{/ifErrors}
    <div class="message">
        &{'car.edit.message'} :
    </div>

    <label for="fieldCarname">&{'field.carname'}</label>
    <div class="formField">
        #{if flash['name'] == null}
        <input type="text" name="name" id="fieldCarname" value="${car.name}"/>        
        #{/if}
        #{else}
        <input type="text" name="name" id="fieldCarname" value="${flash['name']}"/>
        #{/else}
        <span class="error">#{error 'name' /}</span>
    </div>
    
    <label for="fieldCarcapacity">&{'field.carcapacity'}</label>
    <div class="formField">
        #{if flash['nbPlace'] == null}
        <select name="nbPlace" id="fieldCarcapacity" value="${car.nbPlace}"/>
        #{list items:1..8, as:'i'}
            <option value=${i} #{if "${car.nbPlace}"=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        <p class="message">&{'car.woutDriver'}. &{'defautValue'}, &{'car.editForEachWay'}.</p>
        #{/if}
        #{else}
        <select name="nbPlace" id="fieldCarcapacity" value="${flash['car.nbPlace']}"/>
        #{list items:1..8, as:'i'}
            <option value=${i} #{if flash["nbPlace"]=="${i}"}selected#{/if}>${i}</option>
        #{/list}
        </select>
        <p class="message">&{'car.woutDriver'}. &{'defautValue'}, &{'car.editForEachWay'}.</p>
        #{/else}
    </div>
    
    <label for="fieldCarconsomation">&{'field.carconsomation'}</label>
    <div class="formField">
        #{if flash['cost'] == null}
        <input type="text" name="cost" id="fieldCarconsomation" value="${car.cost}"/>        
        #{/if}
        #{else}
        <input type="text" name="cost" id="fieldcost" value="${flash['cost']}"/>
        #{/else}
        <p class="message">&{'car.litterForKms'}.</p>
        <span class="error">#{error 'cost' /}</span>
    </div>          

    <div class="fieldButtonValidation">
        <button type="button" name="btnCancel" class="withPix pix16_cancel">&{'buttons.annuler'}</button>
        <button type="submit" name="btnValidation" class="withPix pix16_valid">&{'buttons.valider'}</button>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
    #{/form}
</div>
<p></p>
