<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Covami</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                Covami
            </div>
            <ul id="tools">
                <li>
                    <a href="covami/">Connection</a>
                </li>
            </ul>
            <div id="title">
                <p>
                    <img src="../../../public/images/bgInscription.png"></img>
                </p>
            </div>
        </div>
        
        <p id="footer">
           
        </p>
        
    </body>
</html>